SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteEngine On
RewriteBase /
RewriteRule .*/token$ oauthtoken.php
#remove the following line to use lazy loading of packages
RewriteRule ^packages.json$ packages.php [PT]
